/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap');

/* Root Variables */
:root {
  --primary-color: #081A70;
  --secondary-color: #F4F4F4;
  --brand-color: #081A70;
  --text-color: #333333;
  --black-1: #0B0F0E;
  --bg-white: #FFFFFF;
  --text-white: #FFFFFF;
  --text-dark: #424242;
  --text-black: #000000;
  --text-muted: #535353;
  --border-radius: 8px;
  --font-poppins: 'Poppins', sans-serif;
  --font-rajdhani: 'Rajdhani', sans-serif;
}

/* Global Styles */
body {
  font-family: var(--font-poppins);
  margin: 0;
  padding: 0;
  background-color: var(--bg-white);
  box-sizing: border-box;
}

a:hover {
  color: var(--brand-color);
}

[class*="hover-lift"]{
  transition: transform 0.3s ease;

}
[class*="hover-lift"]:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}
[class*="hover-lift-btn"]{
  transition: transform 0.3s ease;
}

[class*="hover-lift-btn"]:hover {
  transform: translateY(-2px);
  transition: transform 0.2s ease;
}

/* Font Styles */
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.inter {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.rajdhani-light {
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.rajdhani-regular {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rajdhani-medium {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.rajdhani-semibold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.rajdhani-bold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Utility Classes */
.mt-50 {
  margin-top: 50px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-90 {
  margin-bottom: 90px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pt-160 {
  margin-top: 160px;
}

.muted {
  color: var(--text-muted);
}

/* Header Section */
.header {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  background: url('../images/header-bg.png') lightgray 0px -35.406px / 100% 112.267% no-repeat;
}

.header-logo {
  /* width: 111px;
  height: 57.515px; */
}

.brand-content {
  margin-left: 15px;
}

.brand-content p {
  color: var(--text-white);
  margin: 0;
  font-family: Montserrat;
  font-size: 9.765px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.brand-content h4 {
  color: var(--text-white);
  font-family: Inter;
  font-size: 19.71px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .header-logo {
    width: 68px;
    height: auto;
  }
}

@media (max-width: 900px) {
  .brand-content.footer-bottom {
    margin-left: 12px;
  }

  .brand-content.footer-bottom h4 {
    font-size: 13px;
  }

  .brand-content.footer-bottom p {
    font-size: 9px;
  }
}

/* Search Bar */
.search-wrapper {
  position: relative;
  width: 100%;
  background-color: transparent;
}

.search-input {
  background-color: transparent;
  width: 100%;
  min-width: 300px;
  padding: 12.5px 16px;
  border: 1px solid #FFF;
  border-radius: 104px;
  color: var(--text-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  outline: none;
}

.search-icon {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background: #FFF;
  padding: 9px;
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-wrapper {
  transition-timing-function: ease-in-out !important;
}
@media screen and (max-width:  992px) {
  .nav-small {
    position: fixed;
    z-index: 999;
    bottom: 0;
    background: var(--primary-color);
    width: 100%;
    display: flex !important;
    justify-content: space-between !important;
    left: 0px;
    padding: 10px 16px !important;

  }
  .cart-count-badge {
    display: flex;
  border: 1px solid var(--bg-white);
  }
  footer{
    padding-bottom: 88px  ;
  }
}
/* Navigation Menus */
.menu-text {
  margin: 0;
  color: #fdfdfd;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.cart-count-badge {
  position: absolute;
  top: -4px;
  right: -4px;
  background-color: var(--primary-color);
  color: var(--text-white);
  font-size: 14px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
  line-height: 1;
  min-width: 20px;
  text-align: center;
}

/* Slider Section */
.slider-container {
  position: relative;
  width: 100%;
  height: 595px;
  padding-bottom: 20px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  margin: 12px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

span.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid #ffffff;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 33px;
  border-radius: 6px;
  background: var(--bg-white);
}

.product-detailsSwiper .swiper-slide {
  background: rgba(211, 211, 211, 0.514) !important;
  border-radius: 8px;
}

/* Header Content */
.header-content h1 {
  font-family: var(--font-rajdhani);
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 116%;
  background: linear-gradient(90deg, #EBEBEB 0%, #999 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-content p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: var(--text-white);
}

.header-content button {
  margin-top: 50px;
  margin-bottom: 90px;
}

.header-content2 {
  padding-bottom: 54px;
}

.header-content2 img {
  width: 477px;
  height: auto;
}

.slider-content-container {
  padding-top: 90px;
}

.nav-item:hover .menu-icon img {
  animation: fastShake 0.3s ease-in-out;
}

@keyframes fastShake {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-3px) rotate(-3deg);
  }

  75% {
    transform: translateY(-2px) rotate(-2deg);
  }

  100% {
    transform: translateY(0);
  }
}


/* mega menus start  */

.m-menu-bg {
  background: var(--primary-color);
  font-size: 14px;
}

/* Navbar Links */
.navbar-nav .nav-link {
  color: #fff !important;
  font-weight: 400;
  transition: transform 0.3s ease;
}
.m-menu-bg .navbar{
  padding: 0;
}

.m-menu-bg .navbar-nav .nav-link:hover {
  transform: translateY(-1px) !important;
  color: #d1d1d1;
}

/* Dropdown Menu */
.dropdown-menu {
  background: #fff;
  border: none;
  border-radius: 6px;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  width: 220px;
  padding: 0;
  animation: fadeIn 0.3s ease-in-out;
}

.dropdown-item {
  padding: 14px 18px;
  color: #5B5B5B;
  font-weight: 500;
  font-size: 14px;
  border-bottom: 1px solid #D0D0D0;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropdown-menu li:last-child .dropdown-item {
  font-weight: 500;
  border-bottom: none;
}
.dropdown-submenu .dropdown-menu li:last-child .dropdown-item {
  border-bottom: 1px solid #D0D0D0;

}
.dropdown-item span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-item:hover {
  background: var(--primary-color);
  color: #fff;
}
.nav-link:focus, .dropdown-item:hover span svg path{
  fill: #fff;
}

/* Multi-level Dropdown Support */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 50% !important;
  left: 100%;
  margin-top: -1px;
  border-radius: 6px;
  width: 220px;
  animation: fadeIn 0.3s ease-in-out;
}

.dropdown-submenu .dropdown-item::after {
  display: none; /* Hide default Bootstrap arrow if needed */
}

/* Default arrow state for submenu toggles (right-pointing) */
.dropdown-submenu .dropdown-toggle span svg {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

/* Hover Show for Main Dropdown and Submenus Only (desktop only) */
@media (min-width: 992px) {
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
  
  .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }

  .dropdown-submenu:hover > .dropdown-toggle span svg {
    transform: rotate(90deg);
  }
}

/* Rotate arrow when submenu is shown (for click/open state, works on mobile/desktop) */
.dropdown-submenu.show > .dropdown-toggle span svg,
.dropdown-submenu .dropdown-toggle[aria-expanded="true"] span svg {
  transform: rotate(90deg);
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Right section */
.right-links a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: all 0.3s ease;
}

.right-links a:hover {
  color: #d1d1d1;
  transform: translateY(-1px) !important;
}

.divider {
  display: inline-block;
  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF;
  padding: 0 10px;
  margin-left: 10px;
}

.divider-start {
  display: inline-block;
  border-left: 1px solid #FFF;
  padding-left: 10px;
}

/* SVG icons */
.right-links svg path{
  fill: white;
}

/* Special style for All Categories */
.all-categories {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  min-width: 220px;
  text-decoration: none;
  
}

.all-categories:hover {
  color: #fff;
}

.m-menu-bg .nav-link {
   padding-top: 0px;
  padding-bottom: 0px;            
}

.m-menu-bg .dropdown .nav-link{
  padding-top: 8px;
  padding-bottom: 8px;    
}

.m-menu-bg .dropdown-toggle::after {
  display: none !important;
}
.all-categories-text{
  padding: 8px 0;
}


.m-menu-bg .nav-link{
  padding: 0 8px !important;
  margin: 0 11px !important;
}
@media screen and (max-width: 991px) {
  .right-links a:first-child {
    margin-left: 0;
  }
  .right-links{
    padding: 10px 0;
  }
  .divider {
    border-left: none;
    padding: 0;
  }

  .divider-start {
    border-left: none;
    padding-left: 0;
  }

  .m-menu-bg .nav-item {
    padding: 10px 0;
  }
  .m-menu-bg .navbar-toggler{
    border:none;
    padding:0;
  }
  
  .m-menu-bg button:focus:not(:focus-visible){
    outline:none;
    box-shadow:none;
  }
  .m-menu-bg .navbar-toggler:hover{
    border:none;
    box-shadow:none;
  }
  .all-categories {
    min-width: 160px;
  }
}
/* Custom CSS for dropdown styling */
.dropdown-menu {
  min-width: 200px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

/* SVG Icon Styling */
.dropdown-toggle::after {
  display: none;
}

.dropdown-icon {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  vertical-align: middle;
  transition: transform 0.3s;
}

.dropdown-submenu .dropdown-toggle[aria-expanded="true"] .dropdown-icon {
  transform: rotate(90deg);
}

/* Mobile Responsiveness */
@media (max-width: 767.98px) {
  .dropdown-menu {
    min-width: 100%;
    border: none;
    box-shadow: none;
    background-color: #f8f9fa;
  }

  .dropdown-submenu .dropdown-menu {
    position: static;
    left: 0;
    padding-left: 20px;
    display: none;
  }

  .dropdown-submenu .dropdown-menu.show {
    display: block;
  }

  .dropdown-item {
    font-size: 14px;
    padding: 8px 15px;
  }

  .custom-dropdown {
    display: block;
    width: 100%;
  }

  .custom-dropdown>.dropdown-toggle {
    display: flex;
    align-items: center;
    padding: 0;
    /* background-color: #fff; */
    /* border: 1px solid #ddd; */
    /* border-radius: 4px; */
  }
}

/* Hover Effects for Desktop */
@media (min-width: 768px) {
  .dropdown-submenu:hover>.dropdown-menu {
    display: block;
  }

  .custom-dropdown:hover>.dropdown-menu {
    display: block;
  }
}
/* mega menu end  */
@media (max-width: 1200px) {
  .header-content h1 {
    font-size: 60px;
    line-height: 120%;
  }

  .slider-content-container {
    padding-top: 42px;
  }

  .header-content p {
    font-size: 18px;
  }

  .header-content2 {
    padding-bottom: 0;
  }

  .header-content2 img {
    width: 280px;
    height: auto;
  }

  .header-content button {
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .header-content h1 {
    font-size: 40px;
    line-height: 120%;
  }

  .header-content2 img {
    width: 300px;
    height: auto;
  }

  .slider-content-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

/* Buttons */
.btn-base {
  display: inline-flex;
  padding: 14px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--bg-white);
  color: var(--primary-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  border: 1px solid transparent;
  transition: all 0.1s ease;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  /* transition: all 100ms ease-in-out 0s; */
  transition: transform 0.6s ease;
  text-decoration: none;
  z-index: 10;
}

.btn-base:hover {
  /* background-color: var(--brand-color); */
  /* color: var(--text-white); */
  /* box-shadow: 0 4px 12px rgba(8, 26, 112, 0.2); */
  /* transform: translateY(-3px); */
  /* border-color: var(--text-black); */
}

@media (max-width: 768px) {
  .btn-base {
    padding: 12px 18px;
    font-size: 18px;
  }
}

/* Watch Section */
.watch-section {
  margin-top: 70px;
}

.watch-card-1 {
  height: 182px;
  width: 100%;
  border-radius: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/watch-section/bg-1.png') no-repeat center center;
  background-size: cover;
  background-position: center;
}

.watch-card-2 {
  height: 182px;
  width: 100%;
  border-radius: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/watch-section/bg-2.jpg') no-repeat center center;
  background-size: cover;
  background-position: center;
}

.watch-card {
  color: var(--text-white);
  padding: 20px;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #f8f9fa;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.watch-card::before {
  content: "";
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  background: linear-gradient(108deg, rgba(0, 0, 0, 0) 45%, rgba(255, 255, 255, 0.818) 50%, rgba(0, 0, 0, 0) 55%);
  transform: translateX(-100%);
  pointer-events: none;
  z-index: 1;
  opacity: 0;
}

.watch-card.shimmer::before {
  animation: shimmer-slide 3s ease forwards;
  opacity: 1;
}

@keyframes shimmer-slide {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}

.watch-card h1 {
  font-family: var(--font-rajdhani);
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 0;
}

.watch-card p {
  margin-top: 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.watch-card a {
  display: inline-block;
  margin-top: auto;
  padding: 7px 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #242424;
}

@media (max-width: 768px) {
  .watch-section {
    margin-top: 48px;
  }
}

/* Testimonial Section */
.testimonial-section {
  margin-top: 80px;
}

.testimonial-single-item {
  text-align: center;
}

.testimonial-image-container {
  width: 87px;
  height: 87px;
  border-radius: 50%;
  background-color: #EAEEFF;
}

.testimonial-content h5 {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin-top: 14px;
}

.testimonial-content p {
  color: #878787;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.testimonial-image-container img {
  transition: all 400ms ease-in-out 0s;
  will-change: transform;
}

.testimonial-single-item:hover .testimonial-image-container img {
  transform: rotateY(180deg);
  box-shadow: 0 6px 18px rgba(197, 197, 197, 0.1);
  transition: all 400ms ease-in-out 0s;
}

@media (max-width: 768px) {
  .testimonial-section {
    margin-top: 48px;
  }
}

/* Recently Viewed Section */
.recently-view-section {
  margin-top: 116px;
  padding: 80px 0;
  background: #EAEEFF;
}

.recently-viewed-header {
  margin-bottom: 38px;
}

.recently-viewed-header h3 {
  color: #161616;
  font-family: var(--font-rajdhani);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.recently-viewed-header p {
  color: #373737;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  padding-bottom: 0;
}

.recently-viewed-card {
  padding: 10px;
  border-radius: 16px;
  background: white;
}

.recently-viewed-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
  transition: all 0.3s ease;
}

.recently-viewed-first-half img {
  min-width: 386px;
}

.recently-viewed-card-image {
  border-radius: 10px;
  padding: 12px;
  background-color: #f3f3f3;
  border-radius: 11px;
  max-width: 100%;
}

.recently-viewed-card-content {
  padding: 0 0 0 16px;
}

.recently-viewed-card-content-badges span {
  padding: 4px 8px;
  margin: 0;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  border-radius: 5px;
}

.recently-viewed-card-content-badges :nth-child(1) {
  color: #DD8F8F;
  background: #FFEBEB;
}

.recently-viewed-card-content-badges :nth-child(2) {
  color: #fff;
  background: #CA2020;
}

.recently-viewed-card-title {
  margin: 12px 0;
  color: #373737;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.recently-viewed-card-title a {
  text-decoration: none;
  color: #373737;
}

.recently-viewed-card-rating {
  margin-bottom: 13px;
}

.recently-viewed-card-rating span {
  margin: 0 6px 0 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.recently-viewed-card-price {
  color: #484848;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.prize-after-discount {
  font-size: 16px;
  font-weight: 500;
}

.prize-before-discount {
  font-size: 13px;
  font-weight: 400;
  text-decoration: line-through;
}

.recently-viewed-add-to-cart-btn {
  background: #EFEFEF;
  color: #6F6F6F;
  width: 100%;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px 0;
  text-wrap: nowrap;
}

/* .recently-viewed-add-to-cart-btn:hover {
  background: var(--brand-color);
  color: var(--bg-white);
  transform: translateY(-1px);
  transition: all 0.2s ease;
} */

@media (max-width: 768px) {
  .recently-view-section {
    margin-top: 48px;
  }
}

@media (max-width: 575px) {
  /* .recently-viewed-card-image {
    width: 100%;
    height: auto;
  } */
}

/* Best Sellers Section */
.best-sellers-section {
  width: 100%;
  min-height: 160px;
  margin-top: 112px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: block;
}

.best-sellers-section img {
  width: 100%;
  min-height: 160px;
  height: auto;
  object-fit: cover;
}

.best-seller-gradient-overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.812), rgba(0, 0, 0, 0.45));
  z-index: 2;
}

.best-seller-card:hover {
  transform: translateY(-3px);
  transition: all 0.3s ease;
}

.best-seller-card-content {
  z-index: 3;
}

.best-seller-card:hover .cards-icons-container {
  right: 10px;
  opacity: 1;
  transition: all 0.4s ease;
  z-index: 10;
}
  /* Default SVG stroke and fill */
  .tooltip-icon svg path {
    transition: stroke 0.3s ease, fill 0.3s ease;
  }

  /* Styles for marked state */
  .compare.marked{
    background-color: var(--primary-color);
  }
 .compare.marked svg path {
    stroke: var(--bg-white); /* Blue for compare when marked */
  }
  .favorite.marked{
    background-color: #ff4d4f;
  }
  .favorite.marked svg path {
    fill: var(--bg-white); /* Red for favorite when marked */
  }

  /* Slight scale effect for marked state */
  .tooltip-icon .marked {
    transform: scale(1.1);
  }
.best-seller-card-content .title {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}

.best-seller-card-content .subtitle {
  color: #fff;
  opacity: 0.9;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .best-sellers-section {
    margin-top: 48px;
  }

  .best-seller-card-content {
    padding: 1.5rem;
  }

  .best-seller-card-content .title {
    font-size: 1.5rem;
  }

  .best-seller-card-content .subtitle {
    font-size: 0.95rem;
  }

  .best-seller-card-content .d-flex {
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media (max-width: 480px) {
  .best-seller-card-content .title {
    font-size: 1.25rem;
  }

  .best-seller-card-content .subtitle {
    font-size: 0.85rem;
  }
}

/* Card Slider Section */
.cards-container {
  margin-top: 50px;
  row-gap: 24px;
}

.card-slider {
  padding-top: 16px;
  height: fit-content;
  border-radius: 16px 16px 0 0;
  background: #F8F8F8;
}

.card-slider-single-slide {
  padding-bottom: 10px;
}

.cards-icons-container {
  position: absolute;
  right: -120px;
  opacity: 0;
  top: 40%;
  transition: all 0.5s ease;
}

.cards-icons {
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.cards-icons button {
  background: white;
  border: none;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-icons button:hover {
  transform: scale(1.02);
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card-swiper-pagination .swiper-pagination-bullet {
  width: 5px;
  height: 5px !important;
  border: 5px;
  border-radius: 6.5px !important;
  background-color: #4b4b4b !important;
}

.card-swiper-pagination .swiper-pagination-bullet-active {
  margin-top: 16px;
  width: 17px !important;
  border: 1px solid #3923FF !important;
  background: #3923FF !important;
  border-radius: 6.5px !important;
}

.card-bottom {
  padding: 20px 16px;
  border-radius: 0 0 16px 16px;
  background: #FFF;
  box-shadow: 0 33px 9px 0 rgba(117, 117, 117, 0.00), 0 21px 8px 0 rgba(117, 117, 117, 0.01), 0 12px 7px 0 rgba(117, 117, 117, 0.05), 0 5px 5px 0 rgba(117, 117, 117, 0.09), 0 1px 3px 0 rgba(117, 117, 117, 0.10);
}

@media (max-width: 768px) {
  .cards-icons {
    padding: 0;
  }
}

/* Badges */
.badge {
  padding: 4px 8px;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  border-radius: 5px;
}

.tomato-badge {
  color: #774010;
  background: #FDC89A;
}

.light-yellow-badge {
  background-color: #B50101;
  color: #fff;
}

.badge-light-pink {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #F2F4FF !important;
  color: var(--primary-color) !important;
}

/* .badge-light-pink */

/* It's Time to Shop Section */
.its-time-to-shop-section {
  margin-top: 130px !important;
}

.times-to-shop {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.times-to-shop img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.inner-linier-gradient {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.times-to-shop-inner-content h2 {
  color: #FFF;
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 0;
}

.times-to-shop-inner-content p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin: 0 0 20px 0;
}

.times-to-shop-inner-content a {
  padding: 10px;
  font-size: 16px;
  text-decoration: none;
  color: var(--text-color);
}

@media (max-width: 768px) {
  .its-time-to-shop-section {
    margin-top: 48px;
  }
}

/* Our Supplier Section */
.our-supplier-section {
  border-radius: 10px;
  background: #EAEEFF;
  padding: 53px 73px 68px 73px;
  position: relative;
  height: 100%;
  margin-top: 127px;
}

.our-supplier-header-content.text-start {
  width: fit-content;
  margin: 0 auto;
}

.our-supplier-slider-container {
  margin-top: 50px;
}

.our-supplier-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.our-supplier-slide img {
  max-height: 50px;
  width: auto;
}

@media (max-width: 768px) {
  .our-supplier-section {
    margin-top: 48px;
    padding: 53px 18px 68px 18px;
  }
}

/* Latest Blog Section */
.latest-blog-section {
  margin-top: 100px;
}

.latest-blog-section-card-container {
  margin-top: 30px;
}

.latest-blog-section-action {
  color: #848484;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.latest-blog-section-card-image-container {
  border-radius: 10px;
  overflow: hidden;
}

.latest-blog-section-card-image-container img {
  border-radius: 10px;
  width: 100%;
}

.latest-blog-section-card-title {
  color: #434343;
  margin-bottom: 4px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  word-spacing: 0.9px;
  letter-spacing: 0.9px;
}

.latest-blog-section-card-published-at {
  color: #848484;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  margin-top: 13px;
  margin-bottom: 6px;
}

@media (max-width: 768px) {
  .latest-blog-section {
    margin-top: 48px;
  }

  .latest-blog-section-card-title {
    font-size: 14px;
  }
}

/* Newsletter Section */
.newsletter-section {
  border-radius: 10px;
  background: #EAEEFF;
  padding: 68px 73px 95px 73px;
  position: relative;
  height: 100%;
  margin-top: 127px;
}

.subscribe-group {
  max-width: 100%;
  margin: 50px auto;
  box-shadow: 0 4px 12px rgba(24, 2, 110, 0.08);
  border-radius: 6px;
  overflow: hidden;
}

.subscribe-group .form-control {
  border: none;
  padding: 12px 16px;
  font-size: 16px;
}

.subscribe-group .form-control:focus {
  box-shadow: none;
  outline: none;
}

.btn-subscribe {
  background-color: #000A3B;
  color: #fff;
  border: none;
  padding: 12px 20px;
  transition: background-color 0.3s ease;
}

.btn-subscribe:hover {
  background-color: #001a4d;
  color: #fff;
}

.btn-subscribe .form-control:focus,
.btn-subscribe .form-control:active {
  box-shadow: none;
  outline: none;
  background-color: #001a4d;
}

@media (max-width: 768px) {
  .newsletter-section {
    padding: 53px 18px 68px 18px;
    margin-top: 48px;
  }
}

/* Footer Section */
footer {
  background: #000A3B;
  padding-top: 100px;
}

footer h5 {
  font-family: var(--font-rajdhani);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
  display: inline-block;
}

footer h5.fw-bold {
  position: relative;
  padding-bottom: 10px;
}

footer h5.fw-bold::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 3px;
  background-color: var(--bg-white);
}

.footer-menus {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-menu {
  margin-bottom: 20px;
}

.footer-menu {
  align-items: center;
  /* Vertically align arrow and text */
  gap: 8px;
  /* Space between arrow and text */
}

.footer-menu .menu-arrow {
  display: inline-block;
  /* Allow margin adjustments on the arrow */
  transition: transform 0.3s ease;
  /* Smooth transition for movement */
}

.footer-menu:hover .menu-arrow {
  transform: translateX(3px);
  /* Move arrow 3px to the right */
}

.footer-menu a {
  text-decoration: none;
  /* Keep text-decoration-none */
  color: #fff;
  /* Maintain text-light */
}

.menu-arrow {
  margin-right: 3px;
}

.menu-arrow svg path {
  transition: fill 0.3s ease;
}

.footer-contact {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  background-color: #000625;
  padding: 14px 0;
}

.footer-contact a {
  text-decoration: none;
  color: #fff;
}

.social-link-container {
  height: 100px;
}

.social-links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.social-links svg path {
  transition: fill 0.3s ease;
}

.social-links a:nth-child(1):hover {
  background-color: #1877F2;
}

.social-links a:nth-child(1):hover svg path {
  fill: #fff;
}

.social-links a:nth-child(2):hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.social-links a:nth-child(2):hover svg path {
  fill: #fff;
}

.social-links a:nth-child(3):hover {
  background-color: #1DA1F2;
}

.social-links a:nth-child(3):hover svg path {
  fill: #fff;
}

.social-links a:nth-child(4):hover {
  background-color: #0077B5;
}

.social-links a:nth-child(4):hover svg path {
  fill: #fff;
}

@media (max-width: 768px) {
  footer {
    padding-top: 50px;
  }

  .footer-menus {
    gap: 20px;
  }

  .footer-menu h5 {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

@media (max-width: 900px) {
  img.header-logo.footer-logo-bottom {
    width: 50px;
    height: auto;
  }
}

/* Pagination */
.pagination .page-link {
  color: #7A7A7A;
  border-radius: 8px !important;
  border: 1px solid #E4E9EE;
  font-weight: 500;
  transition: all 0.2s ease;
  padding: 11px 16px;
  background-color: #fff !important;
}

.pagination .page-link:hover {
  background-color: #f0f0f0d3;
  border-radius: 8px;
}

.pagination .page-item.active .page-link {
  background-color: #fff;
  color: #000000;
  border: 1px solid #000000;
}

/* General Responsive Styles */
.title {
  color: #161616;
  font-family: var(--font-rajdhani);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin: 0;
}

.subtitle {
  color: #373737;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  .title {
    font-size: 30px;
  }
}


/* diagonal swap btn  */
.btn-1 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: color 0.5s ease-in-out;
}
.btn-1.slower {
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: color 0.8s ease-in-out;
}


.btn-1::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  bottom: 0;
  right: 0;
  width: 430px;
  border-right: 100px solid transparent;
  border-bottom: 152px solid var(--primary-color);
  transform: translateX(-100%);
  transition: transform 0.9s cubic-bezier(0.25, 1, 0.5, 1);
  z-index: -1;
}
.slower.btn-1::before {
  transition: transform 1.9s cubic-bezier(0.25, 1, 0.5, 1);
}

.btn-1:hover {
  color: var(--text-white);
  z-index: 10;
}

.btn-1:hover::before {
  transform: translateX(0);
}


.btn-2 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: color 0.8s ease-in-out;
}

.btn-2::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  bottom: 0;
  right: 0;
  width: 430px;
  border-right: 100px solid transparent;
  border-bottom: 152px solid var(--bg-white);
  transform: translateX(-100%);
  transition: transform 1.2s cubic-bezier(0.25, 1, 0.5, 1);
  z-index: -1;
}

.btn-2:hover {
  color: var(--text-black);
  z-index: 10;
}

.btn-2:hover::before {
  transform: translateX(0);
}


.tooltip-icon {
  position: relative;
  cursor: pointer;
}

.tooltip-icon::after {
  content: attr(data-tooltip);
  position: absolute;
  right: 36px;
  /* transform: translateX(-50%); */
  background-color: #222;
  color: #fff;
  padding: 3px 6px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.tooltip-icon:hover::after {
  opacity: 1;
  visibility: visible;
}